version: '3'
services:
  tomcat:
    user: root
    container_name: tomcat
    image: tomcat:latest
    ports:
      - "8080:8080"
      - "80:80"
      - "443:443"
    volumes:
      - ./web_apps:/usr/local/tomcat/webapps
      - ./conf:/usr/local/tomcat/conf
      - certs:/usr/local/tomcat/certs
      - tls-log:/var/log/letsencrypt
    #networks:
    #  - web_network

  tls:
    user: root
    depends_on:
      - tomcat
    image: certbot/certbot
    container_name: tls
    volumes:
      - certs:/etc/letsencrypt
      - ./data:/data/letsencrypt
      - ./web_apps:/usr/local/tomcat/webapps
      - tls-log:/var/log/letsencrypt
    #networks:
    #  - web_network
    command: certonly -v --webroot --non-interactive --webroot-path=/usr/local/tomcat/webapps/myapp --email bryanambzam@gmail.com --agree-tos --no-eff-email --staging -d bambriz.me,www.bambriz.me
volumes:
  certs:
  tls-log:
#networks:
#  web_network:
#    driver: bridge