version: '3'
services:
  webserver:
    image: nginx:1.15.12-alpine
    container_name: webserver
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./var/www/html:/var/www/html
      - ./nginx/conf/:/etc/nginx/conf.d
      - certs:/etc/letsencrypt #/home/test-user/certs:/etc/nginx/certs #/home/test-user/selfsigned-certs:/etc/nginx/certs #- certbot-etc:/etc/letsencrypt
    networks:
      - web_network

  tls:
    user: root
    depends_on:
      - webserver 
    image: certbot/certbot
    container_name: tls
    volumes:
      - ./var/www/html:/var/www/html
      - certs:/etc/letsencrypt
      - ./data:/data/letsencrypt
      - tls-log:/var/log/letsencrypt
    networks:
      - web_network
    command: certonly -v --webroot --non-interactive --webroot-path=/var/www/html --email bryanambzam@gmail.com --agree-tos --no-eff-email --staging -d bambriz.me,www.bambriz.me
volumes:
  certs:
  tls-log:
networks:
  web_network:
    driver: bridge